.Buttons {
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
  
.Button{
  color:white;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  background-color:#2b2c3b;
  outline: none;
  border: none;
  padding: 20px 40px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: text-shadow 0.8s ease-out;
  transition: box-shadow 0.8s ease-out;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow: 6px 7px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 7px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 7px 12px 0px rgba(0,0,0,0.75);
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.Button:active{
  transform: translateY(10px);
  background-color:#000000;
  
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0);
}

.Button:hover {
  text-shadow: 0 0 10px #defeff;
  box-shadow: 10px 10px 20px 10px #defeff;
}


@media(max-width: 1011px){
  .Buttons {
    display: block;
  }
  .Button {
    display: block;
    width: 50%;
    margin: 20px auto;
  }
}

@media(max-width: 701px){
  .Button {
    width: 80%;
  }
}