.Layout {
    width: 80%;
    margin: 50px auto;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

.DivImage {
    display: table; 
    font-size: 24px; 
    text-align: center; 
    width: 100%;
    margin: 60px auto;
    padding-bottom: 25px;
    padding-top: 50px;
}

.DivImage span { 
    display: table-cell; position: relative; 
}

.DivImage span:first-child, .DivImage span:last-child {
    width: 50%;
    top: 13px;							
    -moz-background-size: 100% 2px; 	
    background-size: 100% 2px; 		
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}

.DivImage span:first-child {	
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background-image: -webkit-linear-gradient(180deg, transparent, #000);
    background-image: -moz-linear-gradient(180deg, transparent, #000);
    background-image: -o-linear-gradient(180deg, transparent, #000);
    background-image: linear-gradient(90deg, transparent, #000);
}

.DivImage span img{
    height: 50px;
    width: 200px;
    padding: 0 50px;
    margin: 0 auto;
}

.DivImage span:last-child {	
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #000, transparent);
    background-image: -moz-linear-gradient(180deg, #000, transparent);
    background-image: -o-linear-gradient(180deg, #000, transparent);
    background-image: linear-gradient(90deg, #000, transparent);
}

.TakeOfButton {
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#2b2c3b;
    outline: none;
    border: none;
    position: relative;
    padding: 20px 40px;
    margin: 20px auto 40px auto;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    transition: text-shadow 0.8s ease-out;
}

.TakeOfButton .ButtonSpan {
    padding-left: 20px;
}

.TakeOfButton:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

.TakeOfButton:hover{
    text-shadow: 0 0 15px #defeff;
}

.TakeOfButton:focus {
    outline: none;
}
